@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Work Sans', sans-serif;
text-align:center ;
}
img{
    width: 100px;
}
header,
footer{
    background-color: black;
    color: white;
    height: 40px;
    padding: 10px;
}
.top {
    background-image: url("https://i1.faceprep.in/ProGrad/groove-bg.png");
    background-size: 100% 100%;
}
.container{
    min-height: 650px;
    padding-top: 5%;
}
h1{
    margin-top: 150px;
    font-size: 3em;
}
h2{
    font-size: 2em;
}
p{
    font-size: 20px;
}
.button{
    background-color: #27ae60;
    color: white;
    margin: auto;
    padding: 10px;
    width: 130px;
    cursor: pointer;
}
.store{
    padding: 20px;
}
h2,
table{
    margin-bottom: 3%;
    margin-top: 1%;
}
#mobile{
width: 200px;
text-align: center;
padding: 5px;
}
#quantity{
width: 40px;
}
table,
th,
td,
tr{
    margin: auto;
    font-size: 20px;
    padding: 20px;
    border: 2px solid lightgray;
    border-collapse: collapse;
    border-spacing: 5px;
}
th{
    color:white ;
    background-color:#27ae60 ;
}
tr:hover{
   background-color: #EDEAE4;
}
a{
    text-decoration: none;
    color: white;
}
#thanks{
    display: none;
}


















